[Unit]
Description=Sauvegarde quotidienne de MyJob

[Timer]
OnCalendar=*-*-* 03:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
